body {
    background: linear-gradient(to bottom, #8E7AB5, #B784B7, #E493B3, #EEA5A6);
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-bottom: 20px;
}


h1 {
    font-size: 4rem;
    padding-top: 50px;
}

h3 {
    margin-bottom: 0px;
}

.edit-delete-buttons {
    display: flex;
}

.edit-form {
    margin-top: 20px;
}